@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Blog Sitesine Hoş Geldiniz</h1>
    <p>Bu, ASP.NET Core ile geliştirilmiş bir blog uygulamasıdır.</p>
    <p>deneme-new-brach</p>
</div>
